*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  font-family:Inter,sans-serif;
  background:#f5f7fb;
  color:#111827;

}

.app{

  max-width:480px;
  margin:auto;
  min-height:100vh;
  padding-bottom:120px;

}

/* PAGE */

.page{
  display:none;
}

.active-page{
  display:block;
}

/* HEADER */

.header{

  background:
  linear-gradient(
    135deg,
    #16a34a,
    #15803d,
    #166534
  );

  padding:24px;
  border-radius:0 0 40px 40px;
  color:white;

}

.header-top{

  display:flex;
  justify-content:space-between;
  align-items:center;

}

.sub{

  opacity:.8;
  font-size:14px;

}

.header h1{

  margin-top:6px;
  font-size:30px;

}

.logout-btn{

  border:none;
  background:rgba(255,255,255,.2);
  color:white;

  padding:12px 18px;

  border-radius:18px;

}

/* SALDO */

.saldo-card{

  background:white;
  border-radius:30px;
  padding:22px;
  margin-top:24px;
  color:#111827;

  box-shadow:
  0 10px 30px rgba(0,0,0,.08);

}

.saldo-label{
  color:#6b7280;
}

.saldo-card h2{

  margin-top:10px;
  font-size:36px;
  color:#16a34a;

}

.summary{

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:14px;
  margin-top:20px;

}

.summary-item{

  border-radius:22px;
  padding:16px;

}

.income{
  background:#dcfce7;
}

.expense{
  background:#fee2e2;
}

/* CARD */

.card{

  background:white;
  border-radius:28px;
  padding:20px;
  margin:20px;

  box-shadow:
  0 10px 25px rgba(0,0,0,.05);

}

.section-title{
  margin-bottom:16px;
}

/* FILTER */

.filter-box{

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;

}

input,
select{

  width:100%;
  border:none;
  background:#f3f4f6;
  padding:16px;
  border-radius:18px;
  outline:none;
  margin-top:12px;

}

.filter-btn,
.save-btn{

  width:100%;
  border:none;
  margin-top:14px;
  padding:16px;
  border-radius:22px;

  background:
  linear-gradient(
    135deg,
    #16a34a,
    #15803d
  );

  color:white;
  font-weight:bold;

}
